<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8" />
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />

<title>Scrubber</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />

<script 
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
        $(document).ready(function(){   //This is jQuery's document ready function
                                        //You can think of it as a main method, but it's not really that
            
            $('select').material_select(); //This is a javaScript function from materialize
                                            //that styles our select boxes
        });
</script>
</head>
<body>
	<ul class="collapsible" data-collapsible="accordian">
		<li>
			<div class="collapsible-header">
				<i class="material-icons">filter_drama</i> Matching Strategy
			</div>
			<div>
				<form id="matchingForm" method="POST" th:action="@{/matching}">
					<!--th:action tells the form what controller to send the form data to -->
					<!--these th tags get translated into pure html when they are sent to the browser -->
					<!--receives request from browser -->
					<!--the server processes this html page. All of the th tags are turned into pure html that the browser understands -->
					<table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Ford Galpin Data</th>
                            <th></th>
                            <th>Ford Unsold</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="keys, counter: ${galpinHeaders.keySet()}">
                            <td>
                            	<!-- Now, we need to write our our select box -->
                                <!-- Since we need to name our form parameters on submit, we can -->
                                <!-- use the counter.index to assign each of these a number -->
                                <select th:name="${'galpin_' + counter.index}">
                                    <option value="">Please select a header</option>
                                    <!--Now we need to write out each of our option in the select box. We will do -->
                                    <!--this with another loop-->
                                    <option th:each="k : ${galpinHeaders.keySet()}" th:text="${k}" th:value="${k}"></option>
                                </select>
                            </td>

                            <td class="center-align">
                                is same as
                            </td>

                            <td>
                            	<!--Same as above but only for FordUnsold -->
                                <select th:name="${'unsold_' + counter.index}">
                                    <option value="">Please select a header</option>
                                    <option th:each="k : ${unsoldHeaders.keySet()}" th:text="${k}" th:value="${k}" />
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Submit button - CSS from Materialize -->
                <input type="submit" class="center waves-effect waves-light btn" value="Submit" />
                </form>
            </div>
        </li>
    </ul>

</body>
</html>